.v-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-container{
  width: 80%;
}

.v-container div{
  flex: 1;
}

.img-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0rem 0rem;
  border: 8px solid rgba(64, 54, 54, 0.288);
}

.v-right{
  gap: 0.5rem;
}

.accordion{
  margin-top: 2rem;
  border: none;
}

.accordionItem{
  margin-bottom: 20px;
  border-radius: 9px;
  background-color: white;
  overflow: hidden;
  border: 0.8px solid rgba(159, 150, 150, 0.288);
}

.accordionButton{
  background-color: white;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.icon{
  max-width: 2rem;
  height: 2rem;
  background: rgba(154, 187, 228, 0.354);
  border-radius: 5px;
}

.icon svg{
  fill: var(--blue);
}

.accordionButton .primaryText{
  font-size: 1.1rem;
}

.expanded{
  transition: all 300ms ease-in;
  transform:scale(1.04);
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.461);
}

